        <header id="banner">
            <img id="banner‐image" siteSource="Images/2007-07-24%20header%20image.jpg" alt="Louise Avenue Congregational Church: To know Christ, and to make Him known">
            <address>
                <p id="streetaddress">1602 Louise Avenue at 3rd Street, Saskatoon, SK, S7H 2R4</p>
                <div id="emailphone">
                    <div id="email">Email: <a href="mailto:lacc@sasktel.net">lacc@sasktel.net</a></div>
                    <div id="phone">Phone: +1-306-955-5187</div>
                </div>
            </address>
        </header>
        <header id="sidebar">
            <nav>
                <a siteReference="index.html">Home</a>
                <a siteReference="About%20Us.html">About Us</a>
                <a siteReference="We%20Believe.html">We Believe</a>
                <a siteReference="Worship%20Services.html">Worship Services</a>
                <a siteReference="Sermons.html">Sermons</a>
                <a siteReference="Weekly%20Activities.html">Weekly Activities</a>
                <a siteReference="Events.html">Events</a>
                <a siteReference="Our%20Missions.html">Our Missions</a>
                <a siteReference="Contact%20Us.html">Contact Us</a>
            </nav>
        </header>
        <div id="content">
            <div class="textcolumn">
            <h1><pageTitle></h1>

<content>
            </div>
        </div>
        <footer>
            <p>We have been a member church of the <a href="http://www.cccc.ca" target="_blank">Congregational Christian Churches in Canada</a> since 1989.</p>
            <p>If my people, who are called by my name, will humble themselves and pray and seek my face and turn from their wicked ways, then I will hear from heaven, and I will forgive their sin and will heal their land.  2 Chronicles 7:14 (NIV)</p>
        </footer>
