<!DOCTYPE html>
<html dir="ltr" lang="en-CA">
    <head>
        <meta charset="utf-8">
        <link rel="canonical" href="http://www.lacc.ca/[*Relative Path*]">
        <link rel="stylesheet" href="[*Site Root*]CSS/LACC.css">
        <title>[*Title*]</title>
    </head>
    <body>
        <header id="banner">
            <img src="[*Site Root*]Images/2007-07-24 header image.jpg" alt="Louise Avenue Congregational Church: To know Christ, and to make Him known">
            <address>
                <p id="streetaddress">1602 Louise Avenue at 3rd Street, Saskatoon, SK, S7H 2R4</p>
                <div id="emailphone">
                    <div id="email">Email: <a href="mailto:lacc@sasktel.net">lacc@sasktel.net</a></div>
                    <div id="phone">Phone: +1-306-955-5187</div>
                </div>
            </address>
        </header>
        <div id="between‐banner‐and‐footer">
            <header id="sidebar">
                <nav>
                    <a href="[*Site Root*]index.html">Home</a>
                    <a href="[*Site Root*]About%20Us.html">About Us</a>
                    <a href="[*Site Root*]We%20Believe.html">We Believe</a>
                    <a href="[*Site Root*]Worship%20Services.html">Worship Services</a>
                    <a href="[*Site Root*]Sermons.html">Sermons</a>
                    <a href="[*Site Root*]Weekly%20Activities.html">Weekly Activities</a>
                    <a href="[*Site Root*]Events.html">Events</a>
                    <a href="[*Site Root*]Our%20Missions.html">Our Missions</a>
                    <a href="[*Site Root*]Contact%20Us.html">Contact Us</a>
                </nav>
            </header>
            <div class="content">
                <h1>[*Title*]</h1>

[*Content*]

            </div>
        </div>
        <footer>
            <div>
                <p>We have been a member church of the <a href="http://www.cccc.ca" target="_blank">Congregational Christian Churches in Canada</a> since 1989.</p>
                <p>If my people, who are called by my name, will humble themselves and pray and seek my face and turn from their wicked ways, then I will hear from heaven, and I will forgive their sin and will heal their land.  2 Chronicles 7:14 (NIV)</p>
            </div>
        </footer>
    </body>
</html>
