<!--
 Title: About Us
 -->
<p>Staff:</p>
<p>Pastor - Rev. Steven Menshenfriend</p>
<p>Office Administrator - Joyce Hancock</p>
<p>OUR VISION STATEMENT</p>
<p>"Growing and Reaching Out Together"</p>
<p>OUR MISSION STATEMENT:</p>
<p>"To Know Christ and To Make Him Known"</p>
<p>-To Share Jesus Christ In Order To Bring People To Christ</p>
<p>-To Be Family Oriented</p>
<p>A clear God-given vision is an essential aspect of our becoming the church that God intends.  We keep our bearings in Christ by:</p>
<p>-  Maintaining a clear sense of who we are (i.e. our congregational form of government), our heritage,
and our God-given strengths.</p>
<p>-  Practicing effective communication in order to strengthen our identity and increase the unity,
fellowship and cooperation within our fellowship.</p>
<p>-  Cultivating passionate leadership which will build confidence and support.  This is achieved by
developing the strengths and skills of members and adherents for ministry inside and outside the
congregation.</p>
<p>-  Upholding accountability to clear biblical standards for leaders and members for the glory of God.</p>
<p>-  Understanding that freedom and liberty go hand in hand with responsibility for the good of the whole.</p>
<p>-  Cherishing an inclusive fellowship which embraces differences in a biblical manner.</p>
<p>The Congregational Christian Church Emphasizes</p>
<p>The Love and Lordship of Jesus Christ</p>
<p></p>
<p></p>
