<!--
 Title: About Us
 -->
<h4>Staff:</h4>
<p>Pastor - Steven Menshenfriend</p>
<p>Office Administrator - Joyce Hancock</p>
<h4>Our Vision Statement     "Growing and Reaching Out Together"</h4>
<h4>Our Mission Statement     "To Know Christ and To Make Him Known"</h4>
<ul>
    <li>To Share Jesus Christ In Order To Bring People To Christ</li>
    <li>To Be Family Oriented</li>
</ul>
<p>A clear God-given vision is an essential aspect of our becoming the church that God intends.<p>
We keep our bearings in Christ by:</p>
<ul>
    <li>Maintaining a clear sense of who we are (i.e. our congregational form of government), our heritage,
and our God-given strengths.</li>
    <li>Practicing effective communication in order to strengthen our identity and increase the unity,
fellowship and cooperation within our fellowship.</li>
    <li>Cultivating passionate leadership which will build confidence and support.  This is achieved by
developing the strengths and skills of members and adherents for ministry inside and outside the
congregation.</li>
    <li>Upholding accountability to clear biblical standards for leaders and members for the glory of God.</li>
    <li>Understanding that freedom and liberty go hand in hand with responsibility for the good of the whole.</li>
    <li>Cherishing an inclusive fellowship which embraces differences in a biblical manner.</li>
</ul>
<br>
<p>The Congregational Christian Church Emphasizes</p>
<p>The Love and Lordship of Jesus Christ</p>
