<!--
 Title: Events
 -->
<h4>Palm Sunday Service And Lunch</h4>
<p class="hanging">Sunday, April 14 at 10:30 a.m.<br>
Service, followed by Soup &#x26; Sandwich Lunch<br>
Adults: $8.00<br>
Children 4 - 12 years: $4.00<br>
Children 3 yrs &#x26; under: Free<p>

<h4>Good Friday Service</h4>
<p class="hanging">Friday, April 19 at 10:30 a.m.<p>

<h4>Easter Service</h4>
<p class="hanging">Sunday, April 21 at 10:30 a.m.<p>

<h4>30<sup>th</sup> Anniversary Service And Potluck</h4>
<p class="hanging">Sunday, January 6, 2019 at 10:30 a.m.<br>
Pastor David Schrader will be our Guest Speaker<br>
A potluck lunch will follow the worship service.</p>

<h4>30<sup>th</sup> Anniversary Meet &#x26; Greet And Catered Supper</h4>
<p class="hanging">Saturday, May 18, 2019<br>
Meet &#x26; Greet in the afternoon<br>
Catered supper (tickets needed) and a brief Entertainment Time to follow<br>
Tickets available now:<br>
Adults: $10.00<br>
Children 4 - 12 years: $5.00<br>
Children 3 yrs &#x26; under: Free</p>

<h4>30<sup>th</sup> Anniversary Service</h4>
<p class="hanging">Sunday, May 19, 2019 30 at 10:30 a.m.<br>
regular worship service<br>
followed by Coffee and Fellowship time</p>
