<laccPage
 title="Events"
 description=""
 keywords=""
>
<h4>Corn Roast / Fellowship</h4>
<p class="hanging">Sunday, September 22<br>
Sincere thanks to our Ladies' Auxiliary and their many willing helpers, who once again hosted and prepared for a very delicious family "Corn Roast &#x26; Extras" luncheon.<br>
Thank you to all who came out and supported our fellowship event.  A great time of good food and fellowship!</p>

<h4>Pastor Appreciation Month!</h4>
<p class="hanging">Month of October<br>
With grateful hearts we offer continued encouragement and thanks, Pastor Steve, for your "Ministry and Care" among us.<br>
This month and always, please pray for this wonderful family!</p>
</laccPage>
