<!--
 Title: Events
 -->
<h4>Monday, December 24, 2018<span></span>Christmas Eve Candlelight Service</h4>
<p class="hanging">7:00 p.m.</p>

<h4>Sunday, January 6, 2019 30th Anniversary Celebrations</h4>
<p class="hanging">10:30 a.m.<br>
Pastor David Schrader will be our Guest Speaker<br>
A potluck lunch will follow the worship service.</p>

<h4>Saturday, May 18, 2019 30th Anniversary Celebrations</h4>
<p class="hanging">Meet &#x27; Greet in the afternoon<br>
Catered supper (tickets needed) and a brief Entertainment Time to follow</p>

<h4>Sunday, May 19, 2019 30th Anniversary Celebrations</h4>
<p class="hanging">10:30 a.m. regular worship service<br>
followed by Coffee and Fellowship time</p>
