<!--
 Title: Welcome
 -->
<p>We are a neighborhood church that seeks to draw people of all ages and backgrounds together to explore the deeper questions of our Christian faith and to respond to God’s love and faithfulness in our lives and in the world.</p>
<p>We hope that in a year we find ourselves a few more steps down the path of life … a little wiser … a little kinder … and a little closer to God.  But we know we can’t do it alone, we need God’s help, and we need each other.</p>
<p>We take the Bible seriously.  All of our worship services on Sunday morning are centered around a text from the Bible and we seek to listen to God as he teaches us what it means to be his children, and how to live lives of love and service in his world.  As we invite people to love those around them, we also invite people to move deeper into their lives of faith with Christ.</p>
<p><span class="emphasis">The Congregational Christian Churches in Canada are a family of churches who are passionate about God and who long to live out their lives in service to His Son Jesus Christ.</span></p>
<p>The Congregational Christian Church emphasizes The Love and Lordship of Jesus Christ</p>
<p>You can learn more about our denomination at the link below.</p>

