<!--
 Title: Our Missions
 -->
<p>The Bridge (Saskatoon)</p>
<p>This is a mission that keeps the focus on street people in "core" neighborhoods of Saskatoon, giving them food from the soup kitchen, good used clothing, haircuts, offering a listening ear when people need one, and also offering worship services, youth groups and Bible studies in their location. Their newest venture is to provide transitional housing for the homeless.</p>
<p>Hosanna House Fellowship (Saskatoon)</p>
<p>- serving Inner City children on Saskatoon's west side</p>
<p>- Youth Ministry with community youth.</p>
<p>(Carol Kasper, Rev. Rodney Mercer)</p>
<p>Frontier Labourers for CHrist (Thailand)</p>
<p>FLC is an evangelistic Christian mission based in Chaing Mai, Thailand, who serves the tribal peoples of the Golden Triangle. They evangelize the unreached, provide spiritual formation, improve people's health and living conditions, and raise up indigenous missionaries to reach all people groups for Christ in the Golden Triangle region of Thailand, Myanmar (Burma), and Laos.</p>
<p>Compassion Canada</p>
<p>Our Sunday School supports 2 foster children from Haiti through Compassion Canada.</p>
<p></p>
<p></p>
<p></p>
<p></p>
<p></p>
<p></p>
<p></p>
<p></p>
