<!--
 Title: Sermons
 -->
<table>
    [*Sermon*]
    Date: 2019-09-22
    Passage: Mark 14:26-52
    [*End*]
    
    [*Sermon*]
    Date: 2019-09-15
    Passage: Mark 14:12-25
    [*End*]
    
    [*Sermon*]
    Date: 2019-09-08
    Passage: Mark 14:1-11
    [*End*]
    
    [*Sermon*]
    Date: 2019-09-01
    Passage: Mark 13:1-37
    [*End*]
    
    [*Sermon*]
    Date: 2019-08-25
    Passage: Mark 12:35-44
    [*End*]
    
    [*Sermon*]
    Date: 2019-07-21
    Passage: Mark 12:18-27
    [*End*]
    
    [*Sermon*]
    Date: 2019-07-14
    Passage: Mark 12:13-17
    [*End*]
    
    [*Sermon*]
    Date: 2019-07-07
    Title: Conference Report
    Passage:
    [*End*]
    
    [*Sermon*]
    Date: 2019-07-07
    Passage: Mark 12:1-12
    [*End*]
    
    [*Sermon*]
    Date: 2019-06-23
    Passage: Mark 11:12-25
    [*End*]
    
    [*Sermon*]
    Date: 2019-06-09
    Passage: Mark 10:46-52
    [*End*]
    
    [*Sermon*]
    Date: 2019-04-28
    Passage: Mark 9:14-29
    [*End*]
    
    [*Sermon*]
    Date: 2019-04-07
    Title: What Does It Mean To His Followers?
    Passage: Matthew 7:1-5
    [*End*]
    
    [*Sermon*]
    Date: 2019-03-31
    Title: Do Not Worry About Tomorrow
    Passage: Matthew 6:1-18
    [*End*]
    
    [*Sermon*]
    Date: 2019-03-24
    Title: How Should We Pray
    Passage: Matthew 6:1-18
    [*End*]
    
    [*Sermon*]
    Date: 2019-03-17
    Title: Be Salt And Light
    Passage: Matthew 5:13-16
    [*End*]
    
    [*Sermon*]
    Date: 2019-03-10
    Title: The Beatitudes
    Passage: Matthew 5:1-12
    [*End*]
    
    [*Sermon*]
    Date: 2019-03-03
    Passage: Mark 9:2-13
    [*End*]
    
    [*Sermon*]
    Date: 2019-02-24
    Passage: Mark 8:31-9:1
    [*End*]
    
    [*Sermon*]
    Date: 2019-02-17
    Passage: Mark 8:22-30
    [*End*]
    
    [*Sermon*]
    Date: 2019-02-10
    Passage: Mark 8:11-21
    [*End*]
    
    [*Sermon*]
    Date: 2019-02-03
    Passage: Mark 8:1-10
    [*End*]
    
    [*Sermon*]
    Date: 2019-01-27
    Passage: Mark 7:31-37
    [*End*]
    
    [*Sermon*]
    Date: 2019-01-20
    Passage: Mark 7:24-30
    [*End*]
    
    [*Sermon*]
    Date: 2019-01-13
    Passage: Mark 7:14-23
    [*End*]
    
    [*Sermon*]
    Date: 2019-01-06
    Title: The Older I Get The More Forgetful I Become
    Passage: Philippians 3:7-10
    [*End*]
    
    [*Sermon*]
    Date: 2018-12-30
    Passage: Mark 7:1-13
    [*End*]
    
    [*Sermon*]
    Date: 2018-12-16
    Title: I Am Not The Christ
    Passage: John 1:19-28
    [*End*]
    
    [*Sermon*]
    Date: 2018-12-09
    Title: It Is OK To Grieve At Christmas
    Passage: Psalm 85
    [*End*]
    
    [*Sermon*]
    Date: 2018-12-02
    Title: Unto The Least Of These
    Passage: Matthew 25:31-46
    [*End*]
    
    [*Sermon*]
    Date: 2018-11-25
    Passage: Mark 6:45-56
    [*End*]
    
    [*Sermon*]
    Date: 2018-11-11
    Passage: Mark 6:17-29
    [*End*]
    
    [*Sermon*]
    Date: 2018-11-04
    Passage: Mark 6:14-16
    [*End*]
    
    [*Sermon*]
    Date: 2018-10-21
    Passage: Mark 6:1-6
    [*End*]
    
    [*Sermon*]
    Date: 2018-10-14
    Passage: Mark 5:35-43
    [*End*]
    
    [*Sermon*]
    Date: 2018-10-07
    Passage: Mark 5:21-34
    [*End*]
    
    [*Sermon*]
    Date: 2018-09-30
    Passage: Mark 5:1-20
    [*End*]
    
    [*Sermon*]
    Date: 2018-09-23
    Passage: Mark 4:35-41
    [*End*]
    
    [*Sermon*]
    Date: 2018-09-16
    Passage: Mark 4:26-34
    [*End*]
    
    [*Sermon*]
    Date: 2018-09-09
    Passage: Mark 4:21-25
    [*End*]
    
    [*Sermon*]
    Date: 2018-09-02
    Passage: Mark 4:1-20
    [*End*]
    
    [*Sermon*]
    Date: 2018-08-26
    Passage: Mark 3:31-35
    [*End*]
    
    [*Sermon*]
    Date: 2018-08-19
    Passage: Mark 3:20-30
    [*End*]
    
    [*Sermon*]
    Date: 2018-08-12
    Passage: Mark 3:7-19
    [*End*]
    
    [*Sermon*]
    Date: 2018-08-05
    Title: Standard For Grace
    Passage: Matthew 18:15-35
    [*End*]
    
    [*Sermon*]
    Date: 2018-07-29
    Passage: Mark 3:1-6
    [*End*]
    
    [*Sermon*]
    Date: 2018-07-22
    Passage: Mark 2:23-28
    [*End*]
    
    [*Sermon*]
    Date: 2018-07-15
    Passage: Mark 2:18-22
    [*End*]
    
    [*Sermon*]
    Date: 2018-07-08
    Passage: Mark 2:13-17
    [*End*]
    
    [*Sermon*]
    Date: 2018-07-01
    Passage: Mark 2:1-12
    [*End*]
    
    [*Sermon*]
    Date: 2018-06-24
    Passage: Mark 1:35-45
    [*End*]
    
    [*Sermon*]
    Date: 2018-06-17
    Passage: Mark 1:21-34
    [*End*]
    
   [*Sermon*]
   Date: 2018-06-10
   Passage: Mark 1:14-20
   [*End*]
   
   [*Sermon*]
   Date: 2018-06-03
   Title: Because He Lives
   Passage: Mark 1:9-13
   [*End*]
   
   [*Sermon*]
   Date: 2018-05-27
   Title: Lord Be Glorified
   Passage: Mark 1:1-8
   [*End*]
   
   [*Sermon*]
   Date: 2018-05-20
   Title: Pentecost
   Passage: Acts 2:1-13
   [*End*]
   
   [*Sermon*]
   Date: 2018-05-13
   Title: New Creation And Everything
   Passage: Revelation 21:1-4
   [*End*]
   
   [*Sermon*]
   Date: 2018-05-06
   Title: New Creation And Death
   Passage: Matthew 27:51-53
   [*End*]
   
    [*Sermon*]
    Date: 2018-04-29
    Title: New Creation And Suffering
    Passage: 2 Corinthians 6:4-10
    [*End*]
    
    [*Sermon*]
    Date: 2018-04-22
    Title: New Creation And Transformation
    Passage: Romans 12:1-2
    [*End*]
    
    [*Sermon*]
    Date: 2018-04-15
    Title: New Creation And Boundaries
    Passage: Galatians 3:23-29
    [*End*]
    
    [*Sermon*]
    Date: 2018-04-08
    Title: New Creation
    Passage: 2 Corinthians 5:16-21
    [*End*]
    
    [*Sermon*]
    Date: 2018-04-08
    Title: Congregationalism Is The People
    Passage: 
    [*End*]
    
    [*Sermon*]
    Date: 2018-04-01
    Title: Resurrection
    Passage: Matthew 28:1-10
    [*End*]
    
    [*Sermon*]
    Date: 2018-03-30
    Title: Seven Words From The Cross
    Passage: 
    [*End*]
    
    [*Sermon*]
    Date: 2018-03-25
    Title: Truly This Man Was The Son Of God
    Passage: Mark 15:33-39
    [*End*]
    
    [*Sermon*]
    Date: 2018-03-18
    Title: This Man Is Calling Elijah
    Passage: Matthew 27:45-50
    [*End*]
    
    [*Sermon*]
    Date: 2018-03-11
    Title: What I Have Written I Have Written
    Passage: John 19:17-22
    [*End*]
    
    [*Sermon*]
    Date: 2018-03-04
    Title: This Man Has Done No Wrong
    Passage: Luke 23:34-43
    [*End*]
    
    [*Sermon*]
    Date: 2018-02-25
    Title: Didn't You Know
    Passage: Luke 2:41-52
    [*End*]
    
    [*Sermon*]
    Date: 2018-02-18
    Title: Come To Me
    Passage: 2 Chronicles 7:12-16
    [*End*]
    
    [*Sermon*]
    Date: 2017-05-21
    Title: Risen: The Beautiful Commission
    Passage: Matthew 28:16-20
    [*End*]
    
    [*Sermon*]
    Date: 2017-05-14
    Title: Risen: Simon Peter
    Passage: John 21:15-19
    [*End*]
    
</table>
