<laccPage
 title="Sermons"
 description=""
 keywords=""
>
<table>
    <sermon
    date="2019-11-24"
    passage="Mark 16:9-20"
    >
    
    <sermon
    date="2019-11-17"
    passage="Mark 16:1-8"
    >
    
    <sermon
    date="2019-11-10"
    title="Remembrance Day"
    passage="Matthew 18-21-35"
    >
    
    <sermon
    date="2019-11-03"
    passage="Mark 15:40-47"
    >
    
    <sermon
    date="2019-10-27"
    passage="Mark 15:33-39"
    >
    
    <sermon
    date="2019-10-20"
    passage="Mark 15:16-32"
    >
    
    <sermon
    date="2019-10-13"
    title="Give Thanks"
    passage="Jeremiah 29:1,4-7"
    >
    
    <sermon
    date="2019-09-22"
    passage="Mark 14:26-52"
    >
    
    <sermon
    date="2019-09-15"
    passage="Mark 14:12-25"
    >
    
    <sermon
    date="2019-09-08"
    passage="Mark 14:1-11"
    >
    
    <sermon
    date="2019-09-01"
    passage="Mark 13:1-37"
    >
    
    <sermon
    date="2019-08-25"
    passage="Mark 12:35-44"
    >
    
    <sermon
    date="2019-07-21"
    passage="Mark 12:18-27"
    >
    
    <sermon
    date="2019-07-14"
    passage="Mark 12:13-17"
    >
    
    <sermon
    date="2019-07-07"
    title="Conference Report"
    >
    
    <sermon
    date="2019-07-07"
    passage="Mark 12:1-12"
    >
    
    <sermon
    date="2019-06-23"
    passage="Mark 11:12-25"
    >
    
    <sermon
    date="2019-06-09"
    passage="Mark 10:46-52"
    >
    
    <sermon
    date="2019-04-28"
    passage="Mark 9:14-29"
    >
    
    <sermon
    date="2019-04-07"
    title="What Does It Mean To His Followers?"
    passage="Matthew 7:1-5"
    >
    
    <sermon
    date="2019-03-31"
    title="Do Not Worry About Tomorrow"
    passage="Matthew 6:1-18"
    >
    
    <sermon
    date="2019-03-24"
    title="How Should We Pray"
    passage="Matthew 6:1-18"
    >
    
    <sermon
    date="2019-03-17"
    title="Be Salt And Light"
    passage="Matthew 5:13-16"
    >
    
    <sermon
    date="2019-03-10"
    title="The Beatitudes"
    passage="Matthew 5:1-12"
    >
    
    <sermon
    date="2019-03-03"
    passage="Mark 9:2-13"
    >
    
    <sermon
    date="2019-02-24"
    passage="Mark 8:31-9:1"
    >
    
    <sermon
    date="2019-02-17"
    passage="Mark 8:22-30"
    >
    
    <sermon
    date="2019-02-10"
    passage="Mark 8:11-21"
    >
    
    <sermon
    date="2019-02-03"
    passage="Mark 8:1-10"
    >
    
    <sermon
    date="2019-01-27"
    passage="Mark 7:31-37"
    >
    
    <sermon
    date="2019-01-20"
    passage="Mark 7:24-30"
    >
    
    <sermon
    date="2019-01-13"
    passage="Mark 7:14-23"
    >
    
    <sermon
    date="2019-01-06"
    title="The Older I Get The More Forgetful I Become"
    passage="Philippians 3:7-10"
    >
    
    <sermon
    date="2018-12-30"
    passage="Mark 7:1-13"
    >
    
    <sermon
    date="2018-12-16"
    title="I Am Not The Christ"
    passage="John 1:19-28"
    >
    
    <sermon
    date="2018-12-09"
    title="It Is OK To Grieve At Christmas"
    passage="Psalm 85"
    >
    
    <sermon
    date="2018-12-02"
    title="Unto The Least Of These"
    passage="Matthew 25:31-46"
    >
    
    <sermon
    date="2018-11-25"
    passage="Mark 6:45-56"
    >
    
    <sermon
    date="2018-11-11"
    passage="Mark 6:17-29"
    >
    
    <sermon
    date="2018-11-04"
    passage="Mark 6:14-16"
    >
    
    <sermon
    date="2018-10-21"
    passage="Mark 6:1-6"
    >
    
    <sermon
    date="2018-10-14"
    passage="Mark 5:35-43"
    >
    
    <sermon
    date="2018-10-07"
    passage="Mark 5:21-34"
    >
    
    <sermon
    date="2018-09-30"
    passage="Mark 5:1-20"
    >
    
    <sermon
    date="2018-09-23"
    passage="Mark 4:35-41"
    >
    
    <sermon
    date="2018-09-16"
    passage="Mark 4:26-34"
    >
    
    <sermon
    date="2018-09-09"
    passage="Mark 4:21-25"
    >
    
    <sermon
    date="2018-09-02"
    passage="Mark 4:1-20"
    >
    
    <sermon
    date="2018-08-26"
    passage="Mark 3:31-35"
    >
    
    <sermon
    date="2018-08-19"
    passage="Mark 3:20-30"
    >
    
    <sermon
    date="2018-08-12"
    passage="Mark 3:7-19"
    >
    
    <sermon
    date="2018-08-05"
    title="Standard For Grace"
    passage="Matthew 18:15-35"
    >
    
    <sermon
    date="2018-07-29"
    passage="Mark 3:1-6"
    >
    
    <sermon
    date="2018-07-22"
    passage="Mark 2:23-28"
    >
    
    <sermon
    date="2018-07-15"
    passage="Mark 2:18-22"
    >
    
    <sermon
    date="2018-07-08"
    passage="Mark 2:13-17"
    >
    
    <sermon
    date="2018-07-01"
    passage="Mark 2:1-12"
    >
    
    <sermon
    date="2018-06-24"
    passage="Mark 1:35-45"
    >
    
    <sermon
    date="2018-06-17"
    passage="Mark 1:21-34"
    >
    
   <sermon
   date="2018-06-10"
   passage="Mark 1:14-20"
   >
   
   <sermon
   date="2018-06-03"
   title="Because He Lives"
   passage="Mark 1:9-13"
   >
   
   <sermon
   date="2018-05-27"
   title="Lord Be Glorified"
   passage="Mark 1:1-8"
   >
   
   <sermon
   date="2018-05-20"
   title="Pentecost"
   passage="Acts 2:1-13"
   >
   
   <sermon
   date="2018-05-13"
   title="New Creation And Everything"
   passage="Revelation 21:1-4"
   >
   
   <sermon
   date="2018-05-06"
   title="New Creation And Death"
   passage="Matthew 27:51-53"
   >
   
    <sermon
    date="2018-04-29"
    title="New Creation And Suffering"
    passage="2 Corinthians 6:4-10"
    >
    
    <sermon
    date="2018-04-22"
    title="New Creation And Transformation"
    passage="Romans 12:1-2"
    >
    
    <sermon
    date="2018-04-15"
    title="New Creation And Boundaries"
    passage="Galatians 3:23-29"
    >
    
    <sermon
    date="2018-04-08"
    title="New Creation"
    passage="2 Corinthians 5:16-21"
    >
    
    <sermon
    date="2018-04-08"
    title="Congregationalism Is The People"
    >
    
    <sermon
    date="2018-04-01"
    title="Resurrection"
    passage="Matthew 28:1-10"
    >
    
    <sermon
    date="2018-03-30"
    title="Seven Words From The Cross"
    >
    
    <sermon
    date="2018-03-25"
    title="Truly This Man Was The Son Of God"
    passage="Mark 15:33-39"
    >
    
    <sermon
    date="2018-03-18"
    title="This Man Is Calling Elijah"
    passage="Matthew 27:45-50"
    >
    
    <sermon
    date="2018-03-11"
    title="What I Have Written I Have Written"
    passage="John 19:17-22"
    >
    
    <sermon
    date="2018-03-04"
    title="This Man Has Done No Wrong"
    passage="Luke 23:34-43"
    >
    
    <sermon
    date="2018-02-25"
    title="Didn't You Know"
    passage="Luke 2:41-52"
    >
    
    <sermon
    date="2018-02-18"
    title="Come To Me"
    passage="2 Chronicles 7:12-16"
    >
    
    <sermon
    date="2017-05-21"
    title="Risen: The Beautiful Commission"
    passage="Matthew 28:16-20"
    >
    
    <sermon
    date="2017-05-14"
    title="Risen: Simon Peter"
    passage="John 21:15-19"
    >
    
</table>
</laccPage>
