<!--
 Title: Weekly Activities
 -->
<h4>TUESDAY</h4>
<p>7:00 pm - Evening Bible Study (Co-ed)</p>
<event>led by Pastor Steve<br>begins Sept. 11</event>
<p></p>
<h4>WEDNESDAY</h4>
<p>9:00 am - Ladies' Bagel Bible Study</p>
<p>3:15 pm - Reading Buddies</p>
<event>Meet at the church at 3:00 pm and walk to Holliston School library<br>Volunteers Always Welcome!</event>
<p>7:00 pm - Prayer</p>
<p>7:00 pm - BSF Mens Satellite class</p>
<event>September to May 2019<br>LACC Fellowship Hall<br>"People of the Primised Land 1"<br>From Joshua to Solomon, we will see God's heart for His people -- His love, provision, holiness, leadership adn faithfulness.<br>Since God doesn't change, we invite you to come discover God's hear fro you and what that means in our world today!<br>For more information contact ...</event>
<p></p>
<h4>THURSDAY</h4>
<p>9:00 am - Men's Breakfast</p>
<p></p>
<p>7:00 pm - GriefShare</p>
<event>September 6 to November 29<br>For more information please call Ernie Friesen at 931-1297  or Lynn Ross at 382-4123</event>
<p></p>
<h4>FRIDAY</h4>
<p>10:00 am - Prayer</p>
