<!--
 Title: Weekly Activities
 -->
<h4>SUNDAY</h4>
<p class="hanging">10:00 a.m. - Prayer</p>

<h4>TUESDAY</h4>
<p class="hanging">7:00 p.m. - Evening Bible Study (Co-ed)<br>
October 8 to November 4.<p>

<h4>WEDNESDAY</h4>
<p class="hanging">9:30 - 11:30 a.m. - Ladies' Bible Study</p>

<p class="hanging">3:15 p.m. - Reading Buddies<br>
September 18 to November 20.<br>
Meet at the church at 3:00 p.m. and walk to Holliston School library.<br>
Volunteers Always Welcome!</p>

<p class="hanging">7:00 p.m. - Prayer</p>

<p class="hanging">6:55 p.m. - BSF Men's Satellite class<br>
September 11, 2019 to May 2020.<br>
Location: LACC Fellowship Hall.<br>
For more information contact Kevin Giesbrecht at 306-382-0320.</p>

<h4>THURSDAY</h4>
<p class="hanging">9:00 a.m. - Men's Breakfast<br>
Location: The Coachman - Fireside Room.</p>

<p class="hanging">7:00 p.m. - GriefShare<br>
September 12 to December 5.<br>
For more information please call Ernie Friesen at 306-931-1297 or Lynn Ross at 306-382-4123.</p>

<h4>FRIDAY</h4>
<p class="hanging">11:30 a.m. First Friday of every month - Ladies Luncheon<br>
Location: rotating restaurants. Sign up ahead of time at the church.</p>
