<!--
 Title: Weekly Activities
 -->
<h4>TUESDAY</h4>
<p class="hanging">7:00 p.m. - Evening Bible Study (Co-ed)<br>
On a break and will resume on April 30<p>

<h4>WEDNESDAY</h4>
<p class="hanging">9:00 a.m. - Ladies' Bagel Bible Study</p>

<p class="hanging">7:00 p.m. - Prayer</p>
<p class="hanging">7:00 p.m. - BSF Mens Satellite class<br>
September to May 2019<br>
LACC Fellowship Hall<br>
"People of the Primised Land 1"<br>
From Joshua to Solomon, we will see God's heart for His people -- His love, provision, holiness, leadership and faithfulness.<br>
Since God doesn't change, we invite you to come discover God's heart for you and what that means in our world today!<br>
For more information contact Kevin Giesbrecht at 306-382-0320</p>

<h4>THURSDAY</h4>
<p class="hanging">9:00 a.m. - Men's Breakfast</p>
<p></p>

<h4>FRIDAY</h4>
<p class="hanging">10:00 a.m. - Prayer</p>
