<laccPage
 title="Worship Services"
>
<h4 class="center">Sunday 10:30 a.m.</h4>
<p>Our Sunday morning worship experience includes:</p>
<ul>
    <li>singing praise hymns, both old and new</li>
    <li>time for corporate and personal prayer</li>
    <li>and inspiring sermons</li>
</ul>
<p>Children leave for Childrens' Church part way through the service.</p>
<p>The worship service is followed by coffee and fellowship in the lower hall.</p>
<p>We have a monthly Communion Service on the first Sunday of the month, which is open to all who profess Jesus Christ as Lord and Saviour.</p>
</laccPage>
